<mat-grid-list [cols]="12" rowHeight="6rem">

  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header><mat-card-title>Drug Details</mat-card-title></mat-card-header>
      <mat-card-content id="drugform">

        <mat-form [formGroup]="form">


          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input type="text" placeholder="DXXXX" matInput  formControlName="code">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Generic</mat-label>
            <mat-select formControlName="generic">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let generic of generics" [value]="generic">{{generic.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Brand</mat-label>
            <mat-select formControlName="brand">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let brand of brands" [value]="brand">{{brand.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!--          <mat-form-field appearance="outline">-->
          <!--            <mat-label>Name</mat-label>-->
          <!--            <input matInput  formControlName="name">-->
          <!--          </mat-form-field>-->

          <mat-form-field appearance="outline">
            <mat-label>Drug Form</mat-label>
            <mat-select formControlName="drugform">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let drugform of drugforms" [value]="drugform">{{drugform.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Drug Route</mat-label>
            <mat-select formControlName="drugroute">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let drugroute of drugroutes" [value]="drugroute">{{drugroute.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Strength</mat-label>
            <input matInput  formControlName="strength">
          </mat-form-field>

          <div id="imgpanel">
            <img [src]="imageempurl">
            <input id="drugImage" hidden="hidden" (change)="selectImage($event)" Select type="file" formControlName="photo">
            <label for="drugImage" id="selectbutton">Select</label>
            <label id="clearbutton" (click)="clearImage()">Clear</label>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" formControlName="qoh">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reorder Point</mat-label>
            <input matInput type="number" formControlName="rop">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Drug Status</mat-label>
            <mat-select formControlName="drugstatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let drugstatus of drugstatuses" [value]="drugstatus">{{drugstatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Introduce Date</mat-label>-->
<!--            <input matInput [matDatepicker]="intrdate" formControlName="dointroduced">-->
<!--            <mat-datepicker-toggle matIconSuffix [for]="intrdate"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #intrdate></mat-datepicker>-->
<!--          </mat-form-field>-->

          <mat-form-field appearance="outline">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="employee">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.fullname}}</mat-option>
            </mat-select>
          </mat-form-field>

          <br><br>
          <mat-label>Select contra indication</mat-label>
          <div id="listtrnasfer1">
            <div class="list">
              <mat-selection-list  #availablelist1>
                <mat-list-option  multiple  *ngFor="let contraindication of contraindications" [value]="contraindication" >{{contraindication.name}}</mat-list-option>
              </mat-selection-list>
            </div>

            <div id="pnlmiddle1">
              <button mat-raised-button (click)="rightSelected1()">🔽</button>
              <button mat-raised-button (click)="leftSelected1()">🔼</button>
              <button mat-raised-button (click)="rightAll1()">⏬</button>
              <button mat-raised-button (click)="leftAll1()">⏫</button>
            </div>

            <div class="list">
              <mat-selection-list  formControlName="drugcontraindications" #selectedlist1>
                <mat-list-option  *ngFor="let drugcontraindication of drugcontraindications " [value]="drugcontraindication">{{drugcontraindication.contraindication.name}}</mat-list-option>
              </mat-selection-list>
            </div>
          </div>


          <mat-label>Select Adverse effects</mat-label>
          <div id="listtrnasfer2">
            <div class="list">
              <mat-selection-list  #availablelist2>
                <mat-list-option  multiple  *ngFor="let adverseeffect of adverseeffects" [value]="adverseeffect" >{{adverseeffect.name}}</mat-list-option>
              </mat-selection-list>
            </div>

            <div id="pnlmiddle">
              <button mat-raised-button (click)="rightSelected2()">🔽</button>
              <button mat-raised-button (click)="leftSelected2()">🔼</button>
              <button mat-raised-button (click)="rightAll2()">⏬</button>
              <button mat-raised-button (click)="leftAll2()">⏫</button>
            </div>

            <div class="list">
              <mat-selection-list  formControlName="drugadverseeffects" #selectedlist2>
                <mat-list-option  *ngFor="let drugadverseeffect of drugadverseeffects" [value]="drugadverseeffect">{{drugadverseeffect.adverseeffect.name}}</mat-list-option>
              </mat-selection-list>
            </div>

          </div>

          <br>

          <mat-label>Select Indications</mat-label>
          <div id="listtrnasfer3">
            <div class="list">
              <mat-selection-list  #availablelist3>
                <mat-list-option  multiple  *ngFor="let indication of indications" [value]="indication" >{{indication.name}}</mat-list-option>
              </mat-selection-list>
            </div>

            <div id="pnlmiddle3">
              <button mat-raised-button (click)="rightSelected3()">🔽</button>
              <button mat-raised-button (click)="leftSelected3()">🔼</button>
              <button mat-raised-button (click)="rightAll3()">⏬</button>
              <button mat-raised-button (click)="leftAll3()">⏫</button>
            </div>

            <div class="list">
              <mat-selection-list  formControlName="drugindications" #selectedlist3>
                <mat-list-option  *ngFor="let drugindication of drugindications " [value]="drugindication">{{drugindication.indication.name}}</mat-list-option>
              </mat-selection-list>
            </div>
          </div>

          <div id="butpanel">
            <button mat-raised-button (click)="add()">Add</button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" >Update</button>
            <button mat-raised-button (click)="delete()" >Delete</button>
          </div>

        </mat-form>


      </mat-card-content>
    </mat-card>
  </mat-grid-tile>



  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card id="ssearch">
      <mat-card-header><mat-card-title>Drug Search</mat-card-title></mat-card-header>
      <mat-card-content>
        <mat-form [formGroup]="ssearch">

          <mat-form-field appearance="outline">
            <mat-label>Search by Code</mat-label>
            <input matInput formControlName="sscode">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Generic</mat-label>
            <mat-select formControlName="ssgeneric">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let generic of generics" [value]="generic.id">{{generic.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Brand</mat-label>
            <mat-select formControlName="ssbrand">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Drug Status</mat-label>
            <mat-select formControlName="ssdrugstatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let drugstatus of drugstatuses" [value]="drugstatus.id">{{drugstatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Drug Form</mat-label>
            <mat-select formControlName="ssdrugform">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let drugform of drugforms" [value]="drugform.id">{{drugform.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Drug Route</mat-label>
            <mat-select formControlName="ssdrugroute">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let drugroute of drugroutes" [value]="drugroute.id">{{drugroute.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button (click)="btnSearchMc()"><mat-icon>search</mat-icon> Search </button>
            <button mat-raised-button  (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon> Clear Search </button>
          </div>

        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Drug Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{csprompts[i]}}</mat-label>
                  <input matInput [formControlName]="cscolumn" (keyup)="filterTable()">
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedrow}" ></mat-row>

        </mat-table>

        <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]" showFirstLastButtons ></mat-paginator>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


</mat-grid-list>

