<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card id="patientform">
      <mat-card-header>
        <mat-card-title>Patient Detail</mat-card-title></mat-card-header>
      <mat-card-content >

        <mat-form [formGroup]="form">

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Registration Number</mat-label>
            <input matInput formControlName="regno" readonly>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
             <mat-select formControlName="gender">
               <mat-option [value]="null" selected>Not Selected</mat-option>
               <mat-option *ngFor="let gender of genders" [value]="gender">{{gender.name}}</mat-option>
             </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="bdate" formControlName="dob">
            <mat-datepicker-toggle matIconSuffix [for]="bdate"></mat-datepicker-toggle>
            <mat-datepicker #bdate min="new Date()"></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nic</mat-label>
            <input matInput formControlName="nic">
          </mat-form-field>

          <div id="imgpanel">
            <img [src]="imagepnturl">
            <input id="userImage" hidden="hidden" (change)="selectImage($event)" Select type="file" formControlName="photo">
            <label for="userImage" id="selectbutton">Select</label>
            <label id="clearbutton" (click)="clearImage()">Clear</label>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="contactnumber">
          </mat-form-field>


<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Province</mat-label>-->
<!--            <mat-select formControlName="province">-->
<!--              <mat-option [value]="null" selected>Not Selected</mat-option>-->
<!--              <mat-option *ngFor="let province of provinces" [value]="province">{{province.name}}</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->

          <mat-form-field appearance="outline">
            <mat-label>District</mat-label>
              <mat-select formControlName="district">
                <mat-option [value]="null" selected>Not Selected</mat-option>
                <mat-option *ngFor="let district of districts" [value]="district">{{district.name}}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Guardian Name</mat-label>
            <input matInput formControlName="guardianname">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Guardian Mobile</mat-label>
            <input matInput formControlName="guardiancontact">
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bloodgroup</mat-label>
             <mat-select formControlName="bloodgroup">
               <mat-option [value]="null" Selected>Not Selected</mat-option>
               <mat-option *ngFor="let bloodgroup of bloodgroups" [value]="bloodgroup">{{bloodgroup.name}}</mat-option>
             </mat-select>
          </mat-form-field>

          <div id="listtrnasfer">
            <mat-label>Riskfactors</mat-label>
            <div class="list">
              <mat-selection-list  #availablelist>
                <mat-list-option  multiple  *ngFor="let riskfactor of riskfactors" [value]="riskfactor" >{{riskfactor.name}}</mat-list-option>
              </mat-selection-list>
            </div>

            <div id="pnlmiddle">
              <button mat-raised-button (click)="rightSelected()">🔽</button>
              <button mat-raised-button (click)="leftSelected()">🔼</button>
              <button mat-raised-button (click)="rightAll()">⏬</button>
              <button mat-raised-button (click)="leftAll()">⏫</button>
            </div>

            <div class="list">
              <mat-selection-list  formControlName="patientriskfactors" #selectedlist>
                <mat-list-option  *ngFor="let patientriskfactor of patientriskfactors" [value]="patientriskfactor">{{patientriskfactor.riskfactor.name}}</mat-list-option>
              </mat-selection-list>
            </div>

          </div>


          <mat-form-field appearance="outline">
            <mat-label>Patient Status</mat-label>
            <mat-select formControlName="patientstatus">
              <mat-option [value]="null" Selected>Not Selected</mat-option>
              <mat-option *ngFor="let patientstatus of patientstatuses" [value]="patientstatus">{{patientstatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Employeer</mat-label>
            <mat-select formControlName="employee">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.callingname }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div id="butpanel">
            <button mat-raised-button (click)="add()" >Add</button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" >Update</button>
            <button mat-raised-button (click)="delete()" >Delete</button>
          </div>

        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="8" [rowspan]="4">
      <mat-card id="ssearch">
       <mat-card-header><mat-card-title>Patient Search</mat-card-title></mat-card-header>
      <mat-card-content>
        <mat-form [formGroup]="ssearch">
           <mat-form-field appearance="outline">
              <mat-label>Search by Name</mat-label>
              <input matInput formControlName="ssname">
           </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Nic</mat-label>
            <input matInput formControlName="ssnic">
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Search by Birth Date</mat-label>
            <input matInput [matDatepicker]="dobirth" formControlName="ssdob">
            <mat-datepicker-toggle matIconSuffix [for]="dobirth"></mat-datepicker-toggle>
            <mat-datepicker #dobirth></mat-datepicker>
          </mat-form-field>

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Birth Date</mat-label>-->
<!--            <input matInput [matDatepicker]="dobirth" formControlName="dob">-->
<!--            <mat-datepicker-toggle matIconSuffix [for]="dobirth"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #dobirth></mat-datepicker>-->
<!--          </mat-form-field>-->

          <mat-form-field appearance="outline">
            <mat-label>Search by Patient status</mat-label>
            <mat-select formControlName="sspatientstatus">
              <mat-option value="null">Not Selected</mat-option>
              <mat-option *ngFor="let patientstatus of patientstatuses" [value]="patientstatus.id">{{patientstatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Search by District</mat-label>
            <mat-select formControlName="ssdistrict">
              <mat-option value="null">Not Selected</mat-option>
              <mat-option *ngFor="let district of districts" [value]="district.id">{{district.name}}</mat-option>
            </mat-select>
          </mat-form-field>

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Search by District</mat-label>-->
<!--            <mat-select formControlName="ssprovince">-->
<!--              <mat-option value="null">Not Selected</mat-option>-->
<!--              <mat-option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->

          <mat-form-field appearance="outline">
            <mat-label>Search by Bloodgroup</mat-label>
            <mat-select formControlName="ssbloodgroup">
              <mat-option value="null">Not Selected</mat-option>
              <mat-option *ngFor="let bloodgroup of bloodgroups" [value]="bloodgroup.id">{{bloodgroup.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Riskfactor</mat-label>
            <mat-select formControlName="ssriskfactor">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let riskfactor of riskfactors" [value]="riskfactor.id">{{riskfactor.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" (click)="btnSearchMc()"><mat-icon>search</mat-icon> Search </button>
            <button mat-raised-button color="primary" (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon> Clear Search </button>
          </div>


        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card id="patientview">
      <mat-card-header>
        <mat-card-title>Patient Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="cssearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{csprompts[i]}}</mat-label>
                  <input matInput [formControlName]="cscolumn" (keyup)="filterTable()">
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedrow}"></mat-row>

        </mat-table>

        <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]" showFirstLastButtons></mat-paginator>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

</mat-grid-list>





