mat-card { box-shadow: unset ;  width: 100%;  height:100%;  margin: 10px 10px -10px 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; }

mat-card-content { overflow: auto; height: 100%; padding-top: 20px }

mat-card-header { background:  #24A49B; font-weight: bold ;color:white; border-top-left-radius: 10px;border-top-right-radius: 10px;}


mat-row.mat-mdc-row:nth-child(even) {
  background-color: lightgray!important;
}
